{% include "header.html" %}
<section class="text-gray-600 body-font bg-blue-200">
  <div class="container px-5 py-5 mx-auto" style="min-height: 80vh;">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-1 text-gray-900" style="font-family:cursive">
        WELCOME TO SATARK VISION
      </h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500" style="font-family:italian">
        A Website that detects the online fraud...<br>
        Build your Digital Trust..
      </p>
    </div>
    <form action="/fake-job" method="post">
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:mx-auto w-full mt-10 md:mt-0">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5 text-center">Enter Job/Company Details</h2>
        <div class="relative mb-4">
          <input type="text" id="cmpny" name="cmpny" placeholder="Company Name or ID" value="{{ cmpny }}"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        {% if status %}
        <div id="caller-status" style="color: rgb(107 114 128);" class="text-center my-3">
          {{status}}
        </div>
        {% endif %}
        {% if company %}
        <div class="w-full max-w-md p-4 border border-gray-200 rounded-lg shadow sm:p-8 mb-4
                {% if not company['isVerified'] %}
                 bg-red-800
                {% else %}
                 bg-green-800
                {% endif %}">
          <div class="flex items-center justify-between mb-4">
            <h5 class="text-xl font-bold leading-none capitalize
                    {% if not company['isVerified'] %}
                    text-red-100
                    {% else %}
                    text-green-100
                    {% endif %}">
              {{ company['companyName'] }}
            </h5>
            <p class="text-white">
              {% if company['isVerified'] %}
                Verified
              {% else %}
                Not Verified
              {% endif %}
            </p>
          </div>
          <div class="flow-root">
            <ul role="list" class="divide-y
                    {% if not company['isVerified'] %}
                    divide-red-700
                    {% else %}
                    divide-green-700
                    {% endif %}">
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium
                            {% if not company['isVerified'] %}
                              text-red-100
                            {% else %}
                             text-green-100
                            {% endif %}
                            truncate">
                      Comapny ID
                    </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold
                            {% if not company['isVerified'] %}
                             text-red-100
                            {% else %}
                            text-green-100
                            {% endif %}">
                    {{ company['companyID'] }}
                  </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium
                            {% if not company['isVerified'] %}
                             text-red-100
                            {% else %}
                             text-green-100
                            {% endif %}
                            truncate">
                      Comapny Type
                    </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold
                            {% if not company['isVerified'] %}
                             text-red-100
                            {% else %}
                             text-green-100
                            {% endif %}">
                    {{ type_mapping[company['type'].lower()] }}
                  </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium
                            {% if not company['isVerified'] %}
                             text-red-100
                            {% else %}
                              text-green-100
                            {% endif %}
                            truncate">
                      Comapny Rating
                    </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold
                            {% if not company['isVerified'] %}
                              text-red-100
                            {% else %}
                             text-green-100
                            {% endif %}">
                    <div class="inline-flex items-center text-base font-semibold">
                      {% set rating = company['rating'] %}
                      {% if rating is string %}
                      {% set rating = rating|default(-1)|int %}
                      {% endif %}
                      {% if rating == 0 %}
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      {% elif rating == 1 %}
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      {% elif rating == 2 %}
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      {% elif rating == 3 %}
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      {% elif rating == 4 %}
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      {% else %}
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
        <button type="submit"
          class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Verify</button>
      </div>
    </form>
  </div>
  </div>
</section>
{% include "footer.html" %}